// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#floating {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: large;
    height: 45px;
    width: 110px;
}

#wallpaper {
    background-image: url('../../public/img/wallpaper.jpg') ;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}
